// outer grid: aligns content and sidebar with no gutter

$max-width: 1230px;

$total_columns:   12;     //        //
$total_width:   100%;     // px|100%    // px = fixed, 100% = fluid
$gutter_width:    0%;  // px|%     // px = fixed, % = fluid
$container_margin:  auto; // auto|px|%  //

.main {
  @include clearfix();
  @include container();
  max-width: $max-width;

  .container {
  	@include column(9);
  	@include push(0);
  }

  .container.no-sidebar {
    @include column(12);
    @include push(0);
  }

  .sidebar {
  	@include column(3);
  	@include push(9);
  	//background-color: #eceff0;
  }
}

em {
  font-weight: bold;
}

.sidebar {
  padding: 2rem;

  ul {
    border-radius: 3px 3px 0 0;
    border: 1px solid rgba(226,229,232,.8);
    border-bottom: none;
    ul { // no border on second level
      border-radius: 0;
      border: none;
    }
    li {
      display: block;
      color: #414141;
      background-color: white;
      position: relative;

      &:first-of-type { border-radius: 3px 3px 0 0; }

      &.active { 
        color: #33b5e5;
        ul { display: block; }
      }
      &.active a::after {
        content: "●";
        font-size: 1rem;
        position: absolute;
        right: .85rem;
        top: 50%;
        margin-top: -.5rem;
        line-height: 1;
      }
      
      a {
        position: relative;
        color: inherit;
        display: block;
        padding: 1rem;
        border-bottom: 1px solid rgba(226,229,232,.8);
      }
    }
    ul { display: none; } // hide it unless active
    // nested list
    ul li {
      font-size: .875rem;
      background-color: #f9fafa;
      color: #858585;
      a {
        padding: .85rem 2rem;
        border-bottom: 1px solid rgba(237,239,240,.8);
      }

      a::after { content: "○" !important; }
    }
  }

}

// article with sidebar grid helpers

$total_columns:   6;     //        //
$total_width:   100%;     // px|100%    // px = fixed, 100% = fluid
$gutter_width:  3.2%;  // px|%     // px = fixed, % = fluid
$container_margin:  0%; // auto|px|%  //

.content article.with-sidebar {
  @include generate_helper_classes(); // we use these for the form
}

// content area grid: no sidebar 2.45% = 30px gutter
$total_columns:   12;     //        //
$total_width:   100%;     // px|100%    // px = fixed, 100% = fluid
$gutter_width:  2.45%;  // px|%     // px = fixed, % = fluid
$container_margin:  0; // auto|px|%  //

.container.no-sidebar .content {
  @include generate_helper_classes();
}

// full width layout should have 4 column spreads
.container.no-sidebar .content {
  .spread {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

div.search-center {
  @include container();
  position: relative;
  max-width: $max-width;
  margin: 0 auto;

  &:after {
    content:"";
    clear:both;
    display:block;
  }
}

.search-results {
  z-index: 999;
  position: absolute;
  padding: 3.5rem 2.45% 2.45%;
  @include container();
  @include clearfix();
  margin-top: 1px;
  background-color: #33b5e5;
  color: #fff;

  div { @include column(3) }
  @include generate_grid_positions(div, 3);

  h3 {
    color: #0f6895;
  }
  ul {
    border-top: 1px solid rgba(255,255,255,.2);
    li { 
      border-bottom: 1px solid rgba(255,255,255,.2);
      padding: .5rem 0;
    }
  }
  a {
    font-size: 1.125rem;
    font-weight: 600;
    color: inherit;
  }
  p {
    color: #fff;
    margin-bottom: 3rem;
  }
  span {
    display: block;
    color: #82dbfc;
    font-size: .875rem;
  }
  i {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

// content area grid: on sidebar pages 3.2% = 30px gutter
$total_columns:   9;     //        //
$total_width:   100%;     // px|100%    // px = fixed, 100% = fluid
$gutter_width:  3.2%;  // px|%     // px = fixed, % = fluid
$container_margin:  3.2%; // auto|px|%  //

.content {
	@include container();
  //@include clearfix();
  // include clearfix doesn't work here, because overflow hidden would break <hr>
  &:after {
    content:"";
    clear:both;
    display:block;
  }
	padding: 60px 0;

  &.no-pad {
    padding: 0;
  }

	.columns {
		@include clearfix();
		div {	@include column(3) }
    @include generate_grid_positions(div, 3);

    div {  // enable hyphenation where supported
    	-moz-hyphens: auto;
    	-webkit-hyphens: auto;
    	-ms-hyphens: auto;
    	hyphens: auto;

			button { width: 100% }
    }
	}

	hr { 
		margin-left: -3.2%;
		margin-right: -3.2%;
	}

	.spread {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;

		-moz-column-gap: 30px;
		-webkit-column-gap: 30px;
		column-gap: 30px;

		button { width: 100% }
	}

	ul.tabs {
    margin-bottom: 1.5rem;

		li { 
			display: inline-block;
			color: #414141;
			margin-right: 20px;
			&.active { color: #33b5e5 }
			a { color: inherit }
		}
	}

  article {
    @include column(9);
    clear: both;
  }

	article.with-sidebar {
		@include column(6);

		section {
			position: relative;
		}

		blockquote { // aligns to top of section
			@include column(4);

			margin-left: 5%;
			left: 100%;
			top: 0;
			float: left;
			width: 48.2%;
			position: absolute;
      background-color: #f7f8fa;
		}
	}

  // media element: img + content
  .media {
    @include clearfix();
    margin: 4rem 0;
    &:last-of-type { margin-bottom: 0 }

    .img { 
      @include column(3);
      @include push(0);
    }
    .inner { 
      @include column(6);
      @include push(3);
    }

    &.right {
      text-align: left;
      .img { @include push(6); }
      .inner { @include push(0); }
    }
  }
}

// two columns: custom inline-block code because centering floats is impossible

.twoway {
  div {
    width: 46.8%;
    display: inline-block;
    vertical-align: middle;

    &:nth-of-type(2n+1) { margin-right: 3.2% }
    &:nth-of-type(2n) { margin-left: 3.2% }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

// Adefy demos

.demos {
  @include clearfix();
  div { @include column(3); }
  @include generate_grid_positions(div, 3);

  div { vertical-align: top }
  img.thumbnail {
    display: block;
    margin-bottom: 1.125rem;
  }

  span.title {
    overflow: hidden;
    display: block;
    margin-bottom: .5rem;
    a { float: left; }
    .platforms {
      float: right;
      color: #ccc;
    }
  }
}

.dropdown {
  position: relative;
  text-align: left;
  display: inline-block;
  button {
    background-color: #c0c8ce;
    border-radius: 2px;
    border: none;
    box-shadow: inset 0 -1px rgba(0,0,0,.1);
    margin: 0;
    padding: .5rem 1rem;

    &:hover { color: #fff; }
  }

  ul { display: none }
  &:hover ul { display: inline-block }

  ul {
    position: absolute;
    z-index: 9;
    right: 0;
    min-width: 175px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    list-style-type: none;

    &:after {
      bottom: 100%;
      right: 2rem;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;

      border-color: transparent;
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }

    li {
      cursor: pointer;
      font-size: .875rem;
      padding: .75rem 1rem;
      background-color: #fff;
      border-bottom: 1px solid #dfdfdf;
      &:first-of-type { border-radius: 4px 4px 0 0 }
      &:last-of-type  { border-radius: 0 0 4px 4px }
    }
  }
}

// SDK downloads
$total_columns:   8;     //        //
$total_width:   100%;     // px|100%    // px = fixed, 100% = fluid
$gutter_width:  3.2%;  // px|%     // px = fixed, % = fluid
$container_margin: 0; // auto|px|%  //
.versions, .related {
  @include clearfix();
  
  & > div { @include column(4) }

  @include generate_grid_positions(div, 4);
  //div:nth-child(2n+1) { @include push(0) }
  //div:nth-child(2n) { @include push(5) }

  .logo {
    .img {@include column(4); text-align: center}
    .link {@include column(4); line-height: 84px}
  }
}

// Editor controls

.controls {
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem;
  & > * { display: inline-block; }

  button {
    padding: 6px 10px;
    margin: 0 .35rem;
    &:first-of-type { margin-left: 0}
    text-align: center;
    border-radius: 50%/50%;

    background-color: #c0c8ce;
    border: none;
    vertical-align: middle;

    &:hover {
      color: #fff;
      background-color: #abb6be;
    }
    &.active {
      color: #fff;
      background-color: #33b5e5;
    }
    // microadjustments because positioning icons in circles is hard in CSS
    i { margin: 0; vertical-align: -5px }
    &.play i { margin-left: 1px; margin-right: -1px }
    &.fastforward i { margin-left: 1px; margin-right: -1px }
    &.rewind i { margin-left: -1px; margin-right: 1px }
    &.rewind, &.fastforward {font-size: .75rem; padding: 7px 11px;}

    &.rotate, &.scale { padding: 6px; }
  }
}

// Preview area next to the editor
.preview {
  height: 440px;
  line-height: 440px;

  text-align: center;

  img { 
    vertical-align: middle;
  }
}

// downloads area under the preview
.downloads {
  margin-top: 2rem;
  h5 { margin-bottom: 1rem;}
  a {
    display: block;
    padding-bottom: .750rem;
    border-bottom: 1px solid #e8e8e8;
  }
}

// documentation sidebar menu
.doc_menu {
  h3 { margin-bottom: 1rem}
  ul {
    margin-bottom: 2rem;
  }
  a {
    display: block;
    line-height: 1.6;
  }

}

.method {
  margin: 2.5rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0,0,0,.05);
  h4 { margin-bottom: .875rem; color: #33b5e5 }
  h5 { margin-bottom: .750rem }

  ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-bottom: 1rem;

    ul { margin-left: 1.5rem}
  }
  .name, .params {
    color: #414141;
  }
  .type { color: #858585 }

  *:last-child {
    margin-bottom: 0;
  }
}
