@charset "UTF-8";
@import url(reset.css);
/**
 * Profound Grid
 * 
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts, 
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 * 
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 * 
 * Nested columns are supported too, without having to reset the grid on each level. 
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com 
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hide {
  display: none !important; }

.right {
  text-align: right; }

body {
  font-family: Gudea;
  color: #858585;
  line-height: 1.35; }

a:hover, button:hover {
  cursor: hand;
  cursor: pointer; }

a {
  color: #33b5e5;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.button:hover {
    text-decoration: none; }

h1, h2, h3,
h4, h5, h6 {
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  margin-bottom: 1.875rem;
  color: #414141; }

h1 {
  font-size: 2.625rem; }

h2 {
  font-size: 2.250rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: .875rem; }

.blue {
  color: #33b5e5; }

p {
  line-height: 1.6;
  margin: 0 0 20px; }

button {
  display: block;
  background-color: #33b5e5;
  font-size: .875em;
  color: #fff;
  border: 2px solid #33b5e5;
  margin: 1rem 0;
  padding: 5px 40px;
  border-radius: 15px; }
  button:hover {
    background-color: transparent;
    color: #33b5e5; }
  button.large {
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 10px 40px; }
  button.center {
    margin: 1rem auto; }

table {
  width: 100%;
  font-size: .875rem; }
  table thead {
    border-top: 1px solid #33b5e5;
    border-bottom: 1px solid #e8e8e8; }
  table tbody tr {
    border-bottom: 1px solid #f9fafa; }
  table td {
    padding: 1rem .5rem; }

hr {
  height: 1px;
  background-color: #e8e8e8;
  margin: 2rem;
  border: none; }

ol {
  list-style-type: decimal; }

ul.listing, ol.listing {
  vertical-align: top;
  list-style-position: inside; }
  ul.listing li, ol.listing li {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    -webkit-column-break-inside: avoid; }
    ul.listing li.no-border, ol.listing li.no-border {
      border-bottom: none; }
  ul.listing.small li, ol.listing.small li {
    font-size: 14px; }
  ul.listing p, ol.listing p {
    margin: 0.5em 0 0; }

ul.listing {
  list-style-type: none; }
  ul.listing li:before {
    content: "•";
    margin-right: .5rem; }
  ul.listing li.ss-download:before {
    font-size: .75rem;
    content: '';
    margin-right: .4rem;
    margin-left: -.2rem; }

ol.listing li {
  padding: 15px 0;
  color: #33b5e5; }

blockquote {
  padding: 20px;
  color: rgba(133, 133, 133, 0.6);
  font-size: .875rem; }

input[type="text"], input[type="email"], input[type="password"], textarea {
  font-family: Gudea;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid #d1d3d4;
  border-radius: 2px;
  width: 100%; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
    border-color: #33b5e5; }

textarea {
  min-height: 209px; }

label {
  display: block;
  color: #414141;
  margin: .5rem 0; }

::-webkit-input-placeholder {
  color: rgba(133, 133, 133, 0.4); }

::-moz-placeholder {
  color: rgba(133, 133, 133, 0.4); }

:-ms-input-placeholder {
  color: rgba(133, 133, 133, 0.4); }

form button {
  width: 100%;
  padding: 2px 6px 3px; }

#editor {
  position: relative;
  width: 100%;
  height: 440px;
  border: 1px solid #e8e8e8;
  margin-bottom: 2rem; }

i {
  display: inline-block;
  vertical-align: middle;
  margin-right: .4rem; }
  i.tiny {
    font-size: .375rem; }
  i.small {
    font-size: .75rem; }
  i.right {
    margin-right: 0;
    margin-left: .4rem; }
  i.search {
    width: 16px;
    height: 16px;
    background: url("/img/Search.jpg"); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
      i.search {
        background-image: url("/img/Search@2x.png");
        background-size: 100%, 100%; } }
  i.scale {
    width: 22px;
    height: 21px;
    background: url("/img/icon-scale.png"); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
      i.scale {
        background-image: url("/img/icon-scale@2x.png");
        background-size: 100%, 100%; } }
  i.rotate {
    width: 22px;
    height: 21px;
    background: url("/img/icon-rotate.png"); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
      i.rotate {
        background-image: url("/img/icon-rotate@2x.png");
        background-size: 100%, 100%; } }

.main {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  margin: 0 auto;
  max-width: 1230px; }
  .main .container {
    float: left;
    margin-right: -100%;
    width: 75%;
    margin-left: 0%; }
  .main .container.no-sidebar {
    float: left;
    margin-right: -100%;
    width: 100%;
    margin-left: 0%; }
  .main .sidebar {
    float: left;
    margin-right: -100%;
    width: 25%;
    margin-left: 75%; }

em {
  font-weight: bold; }

.sidebar {
  padding: 2rem; }
  .sidebar ul {
    border-radius: 3px 3px 0 0;
    border: 1px solid rgba(226, 229, 232, 0.8);
    border-bottom: none; }
    .sidebar ul ul {
      border-radius: 0;
      border: none; }
    .sidebar ul li {
      display: block;
      color: #414141;
      background-color: white;
      position: relative; }
      .sidebar ul li:first-of-type {
        border-radius: 3px 3px 0 0; }
      .sidebar ul li.active {
        color: #33b5e5; }
        .sidebar ul li.active ul {
          display: block; }
      .sidebar ul li.active a::after {
        content: "●";
        font-size: 1rem;
        position: absolute;
        right: .85rem;
        top: 50%;
        margin-top: -.5rem;
        line-height: 1; }
      .sidebar ul li a {
        position: relative;
        color: inherit;
        display: block;
        padding: 1rem;
        border-bottom: 1px solid rgba(226, 229, 232, 0.8); }
    .sidebar ul ul {
      display: none; }
    .sidebar ul ul li {
      font-size: .875rem;
      background-color: #f9fafa;
      color: #858585; }
      .sidebar ul ul li a {
        padding: .85rem 2rem;
        border-bottom: 1px solid rgba(237, 239, 240, 0.8); }
      .sidebar ul ul li a::after {
        content: "○" !important; }

.content article.with-sidebar {
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */ }
  .content article.with-sidebar .row {
    width: 100%;
    margin: 0 0%; }
    .content article.with-sidebar .row:after {
      content: "";
      clear: both;
      display: block; }
  .content article.with-sidebar .col1 {
    float: left;
    margin-right: -100%;
    width: 14%; }
  .content article.with-sidebar .col2 {
    float: left;
    margin-right: -100%;
    width: 31.2%; }
  .content article.with-sidebar .col3 {
    float: left;
    margin-right: -100%;
    width: 48.4%; }
  .content article.with-sidebar .col4 {
    float: left;
    margin-right: -100%;
    width: 65.6%; }
  .content article.with-sidebar .col5 {
    float: left;
    margin-right: -100%;
    width: 82.8%; }
  .content article.with-sidebar .col6 {
    float: left;
    margin-right: -100%;
    width: 100%; }
  .content article.with-sidebar .push0 {
    margin-left: 0%; }
  .content article.with-sidebar .push1 {
    margin-left: 17.2%; }
  .content article.with-sidebar .push2 {
    margin-left: 34.4%; }
  .content article.with-sidebar .push3 {
    margin-left: 51.6%; }
  .content article.with-sidebar .push4 {
    margin-left: 68.8%; }
  .content article.with-sidebar .push5 {
    margin-left: 86%; }

.container.no-sidebar .content {
  /* Helper Class: Container */
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */ }
  .container.no-sidebar .content .row {
    width: 100%;
    margin: 0 0; }
    .container.no-sidebar .content .row:after {
      content: "";
      clear: both;
      display: block; }
  .container.no-sidebar .content .col1 {
    float: left;
    margin-right: -100%;
    width: 6.09%; }
  .container.no-sidebar .content .col2 {
    float: left;
    margin-right: -100%;
    width: 14.63%; }
  .container.no-sidebar .content .col3 {
    float: left;
    margin-right: -100%;
    width: 23.16%; }
  .container.no-sidebar .content .col4 {
    float: left;
    margin-right: -100%;
    width: 31.7%; }
  .container.no-sidebar .content .col5 {
    float: left;
    margin-right: -100%;
    width: 40.24%; }
  .container.no-sidebar .content .col6 {
    float: left;
    margin-right: -100%;
    width: 48.77%; }
  .container.no-sidebar .content .col7 {
    float: left;
    margin-right: -100%;
    width: 57.31%; }
  .container.no-sidebar .content .col8 {
    float: left;
    margin-right: -100%;
    width: 65.85%; }
  .container.no-sidebar .content .col9 {
    float: left;
    margin-right: -100%;
    width: 74.39%; }
  .container.no-sidebar .content .col10 {
    float: left;
    margin-right: -100%;
    width: 82.93%; }
  .container.no-sidebar .content .col11 {
    float: left;
    margin-right: -100%;
    width: 91.46%; }
  .container.no-sidebar .content .col12 {
    float: left;
    margin-right: -100%;
    width: 100%; }
  .container.no-sidebar .content .push0 {
    margin-left: 0%; }
  .container.no-sidebar .content .push1 {
    margin-left: 8.54%; }
  .container.no-sidebar .content .push2 {
    margin-left: 17.08%; }
  .container.no-sidebar .content .push3 {
    margin-left: 25.61%; }
  .container.no-sidebar .content .push4 {
    margin-left: 34.15%; }
  .container.no-sidebar .content .push5 {
    margin-left: 42.69%; }
  .container.no-sidebar .content .push6 {
    margin-left: 51.22%; }
  .container.no-sidebar .content .push7 {
    margin-left: 59.76%; }
  .container.no-sidebar .content .push8 {
    margin-left: 68.3%; }
  .container.no-sidebar .content .push9 {
    margin-left: 76.84%; }
  .container.no-sidebar .content .push10 {
    margin-left: 85.38%; }
  .container.no-sidebar .content .push11 {
    margin-left: 93.91%; }

.container.no-sidebar .content .spread {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4; }

div.search-center {
  width: 100%;
  margin: 0 0;
  position: relative;
  max-width: 1230px;
  margin: 0 auto; }
  div.search-center:after {
    content: "";
    clear: both;
    display: block; }

.search-results {
  z-index: 999;
  position: absolute;
  padding: 3.5rem 2.45% 2.45%;
  width: 100%;
  margin: 0 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 1px;
  background-color: #33b5e5;
  color: #fff; }
  .search-results div {
    float: left;
    margin-right: -100%;
    width: 23.16%; }
  .search-results div:nth-child(4n+1) {
    margin-left: 0%;
    margin-bottom: 2.45%;
    clear: both;
    overflow: hidden;
    *zoom: 1; }
  .search-results div:nth-child(4n+2) {
    margin-left: 25.61%;
    margin-bottom: 2.45%;
    clear: none; }
  .search-results div:nth-child(4n+3) {
    margin-left: 51.22%;
    margin-bottom: 2.45%;
    clear: none; }
  .search-results div:nth-child(4n+4) {
    margin-left: 76.84%;
    margin-bottom: 2.45%;
    clear: none; }
  .search-results h3 {
    color: #0f6895; }
  .search-results ul {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .search-results ul li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: .5rem 0; }
  .search-results a {
    font-size: 1.125rem;
    font-weight: 600;
    color: inherit; }
  .search-results p {
    color: #fff;
    margin-bottom: 3rem; }
  .search-results span {
    display: block;
    color: #82dbfc;
    font-size: .875rem; }
  .search-results i {
    position: absolute;
    top: 10px;
    right: 10px; }

.content {
  width: 93.6%;
  margin: 0 3.2%;
  padding: 60px 0; }
  .content:after {
    content: "";
    clear: both;
    display: block; }
  .content.no-pad {
    padding: 0; }
  .content .columns {
    overflow: hidden;
    *zoom: 1; }
    .content .columns div {
      float: left;
      margin-right: -100%;
      width: 31.2%; }
    .content .columns div:nth-child(3n+1) {
      margin-left: 0%;
      margin-bottom: 3.2%;
      clear: both;
      overflow: hidden;
      *zoom: 1; }
    .content .columns div:nth-child(3n+2) {
      margin-left: 34.4%;
      margin-bottom: 3.2%;
      clear: none; }
    .content .columns div:nth-child(3n+3) {
      margin-left: 68.8%;
      margin-bottom: 3.2%;
      clear: none; }
    .content .columns div {
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; }
      .content .columns div button {
        width: 100%; }
  .content hr {
    margin-left: -3.2%;
    margin-right: -3.2%; }
  .content .spread {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px; }
    .content .spread button {
      width: 100%; }
  .content ul.tabs {
    margin-bottom: 1.5rem; }
    .content ul.tabs li {
      display: inline-block;
      color: #414141;
      margin-right: 20px; }
      .content ul.tabs li.active {
        color: #33b5e5; }
      .content ul.tabs li a {
        color: inherit; }
  .content article {
    float: left;
    margin-right: -100%;
    width: 100%;
    clear: both; }
  .content article.with-sidebar {
    float: left;
    margin-right: -100%;
    width: 65.6%; }
    .content article.with-sidebar section {
      position: relative; }
    .content article.with-sidebar blockquote {
      float: left;
      margin-right: -100%;
      width: 42.67%;
      margin-left: 5%;
      left: 100%;
      top: 0;
      float: left;
      width: 48.2%;
      position: absolute;
      background-color: #f7f8fa; }
  .content .media {
    overflow: hidden;
    *zoom: 1;
    margin: 4rem 0; }
    .content .media:last-of-type {
      margin-bottom: 0; }
    .content .media .img {
      float: left;
      margin-right: -100%;
      width: 31.2%;
      margin-left: 0%; }
    .content .media .inner {
      float: left;
      margin-right: -100%;
      width: 65.6%;
      margin-left: 34.4%; }
    .content .media.right {
      text-align: left; }
      .content .media.right .img {
        margin-left: 68.8%; }
      .content .media.right .inner {
        margin-left: 0%; }

.twoway div {
  width: 46.8%;
  display: inline-block;
  vertical-align: middle; }
  .twoway div:nth-of-type(2n+1) {
    margin-right: 3.2%; }
  .twoway div:nth-of-type(2n) {
    margin-left: 3.2%; }
  .twoway div img {
    display: block;
    margin: 0 auto; }

.demos {
  overflow: hidden;
  *zoom: 1; }
  .demos div {
    float: left;
    margin-right: -100%;
    width: 31.2%; }
  .demos div:nth-child(3n+1) {
    margin-left: 0%;
    margin-bottom: 3.2%;
    clear: both;
    overflow: hidden;
    *zoom: 1; }
  .demos div:nth-child(3n+2) {
    margin-left: 34.4%;
    margin-bottom: 3.2%;
    clear: none; }
  .demos div:nth-child(3n+3) {
    margin-left: 68.8%;
    margin-bottom: 3.2%;
    clear: none; }
  .demos div {
    vertical-align: top; }
  .demos img.thumbnail {
    display: block;
    margin-bottom: 1.125rem; }
  .demos span.title {
    overflow: hidden;
    display: block;
    margin-bottom: .5rem; }
    .demos span.title a {
      float: left; }
    .demos span.title .platforms {
      float: right;
      color: #ccc; }

.dropdown {
  position: relative;
  text-align: left;
  display: inline-block; }
  .dropdown button {
    background-color: #c0c8ce;
    border-radius: 2px;
    border: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: .5rem 1rem; }
    .dropdown button:hover {
      color: #fff; }
  .dropdown ul {
    display: none; }
  .dropdown:hover ul {
    display: inline-block; }
  .dropdown ul {
    position: absolute;
    z-index: 9;
    right: 0;
    min-width: 175px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    list-style-type: none; }
    .dropdown ul:after {
      bottom: 100%;
      right: 2rem;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: transparent;
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px; }
    .dropdown ul li {
      cursor: pointer;
      font-size: .875rem;
      padding: .75rem 1rem;
      background-color: #fff;
      border-bottom: 1px solid #dfdfdf; }
      .dropdown ul li:first-of-type {
        border-radius: 4px 4px 0 0; }
      .dropdown ul li:last-of-type {
        border-radius: 0 0 4px 4px; }

.versions, .related {
  overflow: hidden;
  *zoom: 1; }
  .versions > div, .related > div {
    float: left;
    margin-right: -100%;
    width: 48.4%; }
  .versions div:nth-child(2n+1), .related div:nth-child(2n+1) {
    margin-left: 0%;
    margin-bottom: 3.2%;
    clear: both;
    overflow: hidden;
    *zoom: 1; }
  .versions div:nth-child(2n+2), .related div:nth-child(2n+2) {
    margin-left: 51.6%;
    margin-bottom: 3.2%;
    clear: none; }
  .versions .logo .img, .related .logo .img {
    float: left;
    margin-right: -100%;
    width: 48.4%;
    text-align: center; }
  .versions .logo .link, .related .logo .link {
    float: left;
    margin-right: -100%;
    width: 48.4%;
    line-height: 84px; }

.controls {
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem; }
  .controls > * {
    display: inline-block; }
  .controls button {
    padding: 6px 10px;
    margin: 0 .35rem;
    text-align: center;
    border-radius: 50%/50%;
    background-color: #c0c8ce;
    border: none;
    vertical-align: middle; }
    .controls button:first-of-type {
      margin-left: 0; }
    .controls button:hover {
      color: #fff;
      background-color: #abb6be; }
    .controls button.active {
      color: #fff;
      background-color: #33b5e5; }
    .controls button i {
      margin: 0;
      vertical-align: -5px; }
    .controls button.play i {
      margin-left: 1px;
      margin-right: -1px; }
    .controls button.fastforward i {
      margin-left: 1px;
      margin-right: -1px; }
    .controls button.rewind i {
      margin-left: -1px;
      margin-right: 1px; }
    .controls button.rewind, .controls button.fastforward {
      font-size: .75rem;
      padding: 7px 11px; }
    .controls button.rotate, .controls button.scale {
      padding: 6px; }

.preview img {
  vertical-align: middle; }

.downloads {
  margin-top: 2rem; }
  .downloads h5 {
    margin-bottom: 1rem; }
  .downloads a {
    display: block;
    padding-bottom: .750rem;
    border-bottom: 1px solid #e8e8e8; }

.doc_menu h3 {
  margin-bottom: 1rem; }
.doc_menu ul {
  margin-bottom: 2rem; }
.doc_menu a {
  display: block;
  line-height: 1.6; }

.method {
  margin: 2.5rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .method h4 {
    margin-bottom: .875rem;
    color: #33b5e5; }
  .method h5 {
    margin-bottom: 0.75rem; }
  .method ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-bottom: 1rem; }
    .method ul ul {
      margin-left: 1.5rem; }
  .method .name, .method .params {
    color: #414141; }
  .method .type {
    color: #858585; }
  .method *:last-child {
    margin-bottom: 0; }

div.center {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  margin: 0 auto;
  max-width: 1230px; }

.menu a {
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent; }
  .menu a:hover {
    text-decoration: none;
    border-bottom-color: rgba(255, 255, 255, 0.2); }

.preview {
  width: 390px;
  padding: 51px 45px;
  background: transparent url(/img/nexus_large.jpg) no-repeat;
  background-size: 100% 100%; }
  .preview canvas {
    width: 300px; }

.preview-landscape {
  width: 594px;
  padding: 59px 92px 57px 90px;
  background: transparent url(/img/nexus_large_landscape.jpg) no-repeat;
  background-size: 100% 100%; }
  .preview-landscape canvas {
    width: 400px; }

.preview-1080 {
  width: 390px;
  padding: 51px 45px;
  background: transparent url(/img/nexus_large.jpg) no-repeat;
  background-size: 100% 100%; }
  .preview-1080 canvas {
    width: 300px; }

.language {
  text-align: right; }
  .language a {
    display: inline-block;
    padding: 0 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    font-size: .750em;
    color: #999; }
    .language a:last-of-type {
      padding-right: 0;
      border-right: none; }

.inset {
  border-left: 4px solid #0099cc;
  padding: 16px;
  background-color: #eee; }

h3.multiline {
  line-height: 1.5 !important; }

header {
  background-color: #0a242e;
  line-height: 82px;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
  *zoom: 1; }
  header .left {
    float: left; }
  header .right {
    float: right; }
  header .left > *, header .right > * {
    display: inline-block;
    vertical-align: middle; }
  header .logo {
    margin: 0 30px;
    font-size: 2.250rem;
    font-family: Oleo Script; }
    header .logo a {
      color: inherit;
      text-decoration: none; }
  header h3 {
    margin-bottom: 0;
    font-weight: 700;
    color: inherit; }
  header .search {
    position: relative; }
    header .search input {
      border: none;
      border-radius: 4px;
      min-width: 270px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.5);
      padding: .4rem .6rem; }
    header .search i {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px; }
  header .toggle {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    margin-left: 30px;
    padding: 0 30px; }
    header .toggle .icon {
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 20px;
      background: url("/img/MenuTopVisible.png") no-repeat 0 0; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
        header .toggle .icon {
          background-image: url("/img/MenuTopVisible@2x.png");
          background-size: 100%, 100%; } }
    header .toggle.disabled .icon {
      opacity: 0.2; }
    header .toggle.active .icon {
      background: url("/img/MenuTopActive.png") no-repeat 0 0; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13 / 10), only screen and (min-resolution: 120dpi) {
        header .toggle.active .icon {
          background-image: url("/img/MenuTopActive@2x.png");
          background-size: 100%, 100%; } }

footer {
  background-color: #1d1d1d;
  padding: 60px 0 30px;
  font-size: .875rem; }
  footer a {
    color: inherit; }
  footer ul {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 80px; }
    footer ul li {
      float: left;
      margin-right: -100%;
      width: 14.54%; }
    footer ul li:nth-child(6n+1) {
      margin-left: 0%;
      margin-bottom: 2.55%;
      clear: both;
      overflow: hidden;
      *zoom: 1; }
    footer ul li:nth-child(6n+2) {
      margin-left: 17.09%;
      margin-bottom: 2.55%;
      clear: none; }
    footer ul li:nth-child(6n+3) {
      margin-left: 34.18%;
      margin-bottom: 2.55%;
      clear: none; }
    footer ul li:nth-child(6n+4) {
      margin-left: 51.27%;
      margin-bottom: 2.55%;
      clear: none; }
    footer ul li:nth-child(6n+5) {
      margin-left: 68.37%;
      margin-bottom: 2.55%;
      clear: none; }
    footer ul li:nth-child(6n+6) {
      margin-left: 85.46%;
      margin-bottom: 2.55%;
      clear: none; }
    footer ul h6 {
      color: white; }
    footer ul a {
      display: block;
      font-size: 1rem;
      color: #858585;
      line-height: 1.5; }
  footer hr {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 0 30px; }
  footer .menu {
    float: left;
    margin-right: -100%;
    width: 82.91%;
    margin-left: 0%;
    color: #33b5e5;
    margin-bottom: 45px; }
    footer .menu a:hover {
      border-bottom-color: #33b5e5; }
  footer .language {
    float: left;
    margin-right: -100%;
    width: 14.54%;
    margin-left: 85.46%; }
    footer .language a {
      color: #bbb; }
  footer .copyright {
    font: .750rem/.875rem Arial, Helvetica, sans-serif;
    float: left;
    margin-right: -100%;
    width: 100%; }

/* media queries */
@media screen and (max-width: 400px) {
  footer ul {
    overflow: hidden;
    *zoom: 1; }
    footer ul li {
      float: left;
      margin-right: -100%;
      width: 49%; }
    footer ul li:nth-child(2n+1) {
      margin-left: 0%;
      margin-bottom: 2%;
      clear: both;
      overflow: hidden;
      *zoom: 1; }
    footer ul li:nth-child(2n+2) {
      margin-left: 51%;
      margin-bottom: 2%;
      clear: none; }
  footer hr {
    margin-bottom: 20px; }
  footer .menu, footer .language {
    display: none; } }
