h1 Develop Engaging, Native Mobile Ads
h3 
  | Use our libraries and tools to craft next-gen organic mobile experiences. 
  | Automate platform operations and use your data elsewhere with our documented APIs.
.columns
  div
    h3 Learn
    p Work with tutorials and design guidelines to build breathtaking advertisements
  div
    h3 Integrate
    p Access our APIs to automate and integrate data
  div
    h3 Develop
    p Create native, organic ads with our library and authoring tools
.columns
  div
    button Show me more
  div
    button Show me more
  div
    button Show me more
hr

h3 Class listing

.spread
  ul.listing
    li: a(href="#") AJS
    li: a(href="#") AJSBaseActor
    li: a(href="#") AJSPolygon
    li: a(href="#") AJSRectangle
    li: a(href="#") AJSTriangle
    li: a(href="#") AJSColor3
    li: a(href="#") AJSUtilParam
    li: a(href="#") AJSVector2
    li: a(href="#") API Description
    li: a(href="#") Library references
  button Show me more

hr

h3 API Queries

.spread: ul.listing
  li
    a /api/v1/publishers
    p Hovercraft document
  li 
    a /api/v1/publishers/:id
    p Description
  li 
    a /api/v1/publishers/:id
    p Description
  li 
    a /api/v1/publishers/:id
    p Description
  li 
    a /api/v1/publishers/:id
    p Description
  li 
    a /api/v1/publishers/:id
    p Description
  li 
    a /api/v1/publishers/:id
    p Description
  li 
    a /api/v1/publishers/:id
    p Description
  li 
    a /api/v1/publishers/:id
    p Description
  li 
    a /api/v1/publishers/:id
    p Description
