h1 Crating a new charge (charging a credit card)
h3 Transfers are submitted to you on a seven-calendar-day rolling basis.

h5 Overview

hr

.row
  .col3
    h3 Code preview
  .col3.push3.right
    .dropdown 
      button Change theme
      ul
        li.editor-light Tomorrow
        li.editor-dark Tomorrow Night
.row
  .col6
    #editor  
      | function foo(items) {
      |   var x = "All this is syntax highlighted";
      |   return x;
      | }

    ul.tabs
      li: a(href="#") Revert code changes
      li: a(href="#") Save code

  .col6.push6
    p To charge a credit card, you create a new charge object. If your API key is in test mode, the supplied card won't actually be charged, though everything else will occur as if in live mode. (Stripe assumes that the charge would have completed successfully).

    p When a user clicks on a Tinypass button, an access ticket is presented to the end-user via a popup. The ticket contains all of the relevant information that was supplied when creating the button. As you can see below, the ticket contains the resource name, pricing, the access period, user information, and your company logo and messaging. You can also specify a short custom caption to appear.

    p When a user clicks on a Tinypass button, an access ticket is presented to the end-user via a popup. The ticket contains all of the relevant information that was supplied when creating the button. As you can see below, the ticket contains the resource name, pricing, the access period, user information, and your company logo and messaging. You can also specify a short custom caption to appear.
