h1 Tutorials
h3 Creating a simple ad

p After following this series, you'll have a basic mobile ad ready for deployment that can take on the look of its host publisher. After designing and building the animation sequences, and integratable color palette will be created, along with integration information for publishers.


hr

h3 Creating a simple ad
h5 Develop a simplistic 2D organic advertisement with basic animations

p After following this series, you'll have a basic mobile ad ready for deployment that can take on the look of its host publisher. After designing and building the animation sequences, and integratable color palette will be created, along with integration information for publishers.

ol.listing
  li: a(href="#") Designing an engaging storyboard
  li: a(href="#") Building the animation
  li: a(href="#") Picking dynamic colours
  li: a(href="#") Develop
  li: a(href="#") Organic advertisement
  li: a(href="#") Live demo