h1 Class listing
h3 A resource can represent anything: an article, a movie, a blog post, access to a access to premium site content, etc. This is what we think!

article.with-sidebar
  section
    h5 Accounts
    p Gist is a paste. A snippet of text. Not unrelated to GitHub Gists. To set some expectations let's provide following functionality in our API: List Gists, Retrieve a Single Gist, Create a Gist, Edit a Gist, Star a Gist, Unstar a Gist, Check if a Gist is starred and Delete a Gist. 

    p Returns the charge object if the update succeeded. This call will return an error if update parameters are invalid.

  section
    h3 First resource
    h5 The first resource in our API is it's root. The entry point to our API is defined like so:

    p In API Blueprint a resource definition starts with a Markdown header with the resource name followed by its URI enclosed in square brackets. The URI is relative to the API root. So in this case it is just

    blockquote Resource name is an API Blueprint Identifier and as such it can be composed only from a combination of alphanumerical characters, underscores, dashes and a spaces.
