h1 Tech demos
h3 Once you've done that, Tinypass takes over; monitoring access, processing payments, and reporting statistics and revenue to your Tinypass publisher account.

hr

h3 List

ul.tabs
  li.active: a(href="#") Newest
  li: a(href="#") Note on Indentation
  li: a(href="#") Blueprint Tools

.demos
  - for (var i = 0; i < 7; ++i) 
    div
      img.preview(src="/img/demo.jpg")
      span.title
        a(href="#") Gist for API
        span.platforms
          img(src="/img/android.png" data-at2x="/img/android@2x.png")
          | /
          img(src="/img/apple.png" data-at2x="/img/apple@2x.png")
      p In API Blueprint a resource definition starts with a Markdown