h1 Design documents
h3 Once you've done that, Tinypass takes over: monitoring access, processing payments, and reporting statistics and revenue to your Tinypass publisher account.

article.with-sidebar
  section
    h5 Accounts
    p Gist is a paste. A snippet of text. Not unrelated to GitHub Gists. To set some expectations let's provide following functionality in our API: List Gists, Retrieve a Single Gist, Create a Gist, Edit a Gist, Star a Gist, Unstar a Gist, Check if a Gist is starred and Delete a Gist. 

    p Returns the charge object if the update succeeded. This call will return an error if update parameters are invalid.

  section
    h3 First resource
    h5 The first resource in our API is it's root. The entry point to our API is defined like so:

    p In API Blueprint a resource definition starts with a Markdown header with the resource name followed by its URI enclosed in square brackets. The URI is relative to the API root. So in this case it is just

    blockquote Resource name is an API Blueprint Identifier and as such it can be composed only from a combination of alphanumerical characters, underscores, dashes and a spaces.

article
  hr

  h3 Documentation

  ul.tabs
    li.active: a(href="#") For designers
    li: a(href="#") For developers
    li: a(href="#") For clients
    li: a(href="#") For Honeycomb
    li: a(href="#") Documentation

  p After following this series, you'll have a basic mobile ad ready for deployment that can take on the look of its host publisher. After designing and building the animation sequences, an integratable color palette will be created, along with integration information for publishers.

  ol.listing
    li: a(href="#") Designing an engaging storyboard
    li: a(href="#") Building the animation
    li: a(href="#") Picking dynamic colors
    li: a(href="#") Develop
    li: a(href="#") Organic advertisement
    li: a(href="#") Live demo