h1 Get in touch!
h3 Using the form enables us to offer faster answers, but you can drop us a line directly at We'll respond as quickly as possible!

article.with-sidebar
  section
    form
      .row
        .col3.push0
          label Email address
          input(type="email" placeholder="test@example.com")
        .col3.push3
          label Subject
          input(type="text" placeholder="Hello!")
      .row
        .col6.push0
          label Message
          textarea(placeholder="If you can include any details from your account do this")
      .row
        .col1.push5
          button Send

    blockquote Resource name is an API Blueprint Identifier and as such it can be composed only from a combination of alphanumerical characters, underscores, dashes and a spaces.
