h1 Library tutorial page
h3 Your app will play an important part in keeping the Android experience consistent and enjoyable to use. At the end of this chapter we introduce the main elements for achieving this goal in your app.

.twoway
  div
    ol.listing
      li: a(href="#") What countries does Stripe support? I'm not a US citizen, but my business
      li: a(href="#") I'm not a US citizen, but my business. What countries does Stripe support?
      li: a(href="#") Will I receive a 1099-K? What countries does
      li: a(href="#") Which countries does Stripe support?
      li: a(href="#") Can I save a card and charge it later? Will I receive a 1099-K?
    button More
  div
    img(src="/img/phone.svg" width="570")

hr

.media.right
  .img
    img(src="/img/phone.svg" width="100%")
  .inner
    h3 What countries does Stripe support?
    h5 Content: The first resource in our API is its root.

    p In API Blueprint an action should always include at least one response representing the HTTP response message sent back in response to a Tinypass does not place any restrictions on what is and what is not a resource. Resources are always defined by the publisher

    button Discover, show me more on this tutorial

.media
  .img
    img(src="/img/phone.svg" width="100%")
  .inner
    h3 What countries does Stripe support?
    h5 Content: The first resource in our API is its root.

    p In API Blueprint an action should always include at least one response representing the HTTP response message sent back in response to a Tinypass does not place any restrictions on what is and what is not a resource. Resources are always defined by the publisher

    button Discover, show me more on this tutorial

.media.right
  .img
    img(src="/img/phone.svg" width="100%")
  .inner
    h3 What countries does Stripe support?
    h5 Content: The first resource in our API is its root.

    p In API Blueprint an action should always include at least one response representing the HTTP response message sent back in response to a Tinypass does not place any restrictions on what is and what is not a resource. Resources are always defined by the publisher

    button Discover, show me more on this tutorial

.media
  .img
    img(src="/img/phone.svg" width="100%")
  .inner
    h3 What countries does Stripe support?
    h5 Content: The first resource in our API is its root.

    p In API Blueprint an action should always include at least one response representing the HTTP response message sent back in response to a Tinypass does not place any restrictions on what is and what is not a resource. Resources are always defined by the publisher

    button Discover, show me more on this tutorial