h1 Live example page
h3 Transfers are submitted to you on a seven-calendar-day rolling basis

h5 Introduction

p If tour receive an order on Friday, you will receive those funds in your account on the following Friday. If you receive another on Monday, you will receive those funds on Monday, and so on.

hr

.row
  .col3
    h3 Code preview
  .col3.push3.right
    .dropdown 
      button
        | Change theme
        i.ss-dropdown.tiny.right
      ul
        li.editor-light Tomorrow
        li.editor-dark Tomorrow Night
  .col2.push6.controls
    button.rewind: i.ss-rewind
    button.play: i.ss-play
    button.fastforward: i.ss-fastforward

  .col4.push8.right
    .controls
      button.rotate: i.rotate
      button.scale: i.scale
    .dropdown
      button
        | Change device
        i.ss-dropdown.tiny.right
      ul
        li Nexus 4
        li iPhone
.row
  .col6
    #editor  
      | function foo(items) {
      |   var x = "All this is syntax highlighted";
      |   return x;
      | }
    ul.tabs
      li: a(href="#")
        i.ss-replay
        | Revert code changes
      li: a(href="#")
        i.ss-hdd
        | Save code
  .col6.push6
    .preview
      img(src="/img/phone.svg" width="495")
    .col6
      a(href="#") Q
    .col6.push6
      a(href="#") Q
