h1 SDK Downloads
h3.multiline Grab our Android SDK and start serving Adefy ads in your application! We're working on an iOS SDK to be released mid 2014.

hr

.versions
  //-.version
    .logo
      .img: img(src="/img/sdk_apple.png" data-at2x="/img/sdk_apple@2x.png")
      .link: a(href="#") iOS version
    h5 Description
    p This is the URL location where the resource can be found. This will be used by Tinypass to ensure that users have a method to get back to their content following a successful purchase. Perhaps you run a daily news site where you sell individual articles as well as access to an entire section of premium content.

    p Resource RIDs are the link between you, your content, and the end-user's purchases. When a user completes a purchase, they have effectively bought access to that RID. Casually changing RIDs can have disastrous consequences for your website and your users.

  .version
    .logo
      .img: img(src="/img/sdk_android.png" data-at2x="/img/sdk_android@2x.png")
      .link: a(href="#") Android SDK (.aar)

// split otherwise wouldn't be properly aligned
.related
  //-.version
    h5 Related links

    ul.listing
      li: a(href="#") Integration instructions
      li: a Documentation

  .version
    ul.listing
      li: a(href="/tutorials/integration/android") Integration instructions
