h1 SDK Downloads
h3 The IRS requires that we calculate the amount for your filing based on your gross volume. That means that we won't net out any fees, refunds ot other amounts. It's worth noting that.

hr

.versions
  .version
    .logo
      .img: img(src="/img/sdk_apple.png" data-at2x="/img/sdk_apple@2x.png")
      .link: a(href="#") iOS version
    h5 Description
    p This is the URL location where the resource can be found. This will be used by Tinypass to ensure that users have a method to get back to their content following a successful purchase. Perhaps you run a daily news site where you sell individual articles as well as access to an entire section of premium content.

    p Resource RIDs are the link between you, your content, and the end-user's purchases. When a user completes a purchase, they have effectively bought access to that RID. Casually changing RIDs can have disastrous consequences for your website and your users.

  .version
    .logo
      .img: img(src="/img/sdk_android.png" data-at2x="/img/sdk_android@2x.png")
      .link: a(href="#") Android version
    h5 Description
    p There are only two states to think about when integrating Tinypass. Either the user has access or they do not have access. When a user does not have access, it is up to the publisher to define the messaging that appears on the access denied landing page that the user will be directed to. Tinypass does not make any assumptions or requirements regarding how this page should be designed or displayed. The style and content of the access denied page is left entirely up to the publisher.

// split otherwise wouldn't be properly aligned
.related
  .version
    h5 Related links

    ul.listing
      li: a(href="#") Integration instructions
      li: a Documentation

  .version
    h5 Related links

    ul.listing
      li: a(href="#") Integration instructions
      li: a Documentation