footer
  .center
    ul
      li
        h6 Technology
        a(href="//adefy.com/technology#organic-content") Organic Content
        a(href="//adefy.com/technology#flow") Nurturing Flow
        a(href="//adefy.com/technology#ad-formats") Creative Formats
        a(href="//adefy.com/technology#authoring-tools") Authoring Tools
      li
        h6 Advertisers
        a(href="//adefy.com/advertisers#campaigns") Next-gen Campaigns
        a(href="//adefy.com/advertisers#ad-generation") Realtime Ad Generation
        a(href="//adefy.com/advertisers#automatic-bidding") Automatic Bidding
        a(href="//adefy.com/advertisers#delivery") Intelligent Delivery
        a(href="/tutorials") Designer Resources
      li
        h6 Publishers
        a(href="//adefy.com/publishers#monetize") Monetize
        a(href="//adefy.com/publishers#inventory") Untapped Inventory
        a(href="//adefy.com/publishers#ads") Innovative Formats
        a(href="//adefy.com/publishers#floor-limits") Floor Limits
        //- a(href="//adefy.com/developer") House Ads
        a(href="/") Developer Resources
        a(href="/sdk") SDK Downloads
      li
        h6 Legal
        a(href="//adefy.com/privacy") Privacy
        a(href="//adefy.com/ToS") Terms &amp; Conditions
      li
        h6 Help center
        a(href="//adefy.com/about") About
        a(href="//adefy.com/contact") Contact Us
        a(href="//adefy.com/imprint") Imprint
        a(href="/") Developer Center
  hr
  .center
    .menu
      a(href="//adefy.com/home") Home
      a(href="//adefy.com/technology") How we do native
      a(href="//adefy.com/publishers") Publishers
      a(href="//adefy.com/advertisers") Advertisers
      a(href="//adefy.com/about") About
      a(href="//adefy.com/contact") Contact us
    .language
      a(href="//app.adefy.com/signup") Sign Up
      //- a(href="http://docs.adefy.com" target="_blank") Help
    //-   a(href="//adefy.com") Language
  .center
    p.copyright
      | Adefy&trade; by Spectrum IT Solutions GmbH 2013-2014

script(src="/vendor/retina-1.1.0.min.js")

script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37947508-9', 'adefy.com');
  ga('send', 'pageview');

  // pjax handler
  $(function() {
    $("body").on("click", "a", function (event) {
      $.pjax({
        "url": $(this).attr("href"),
        "fragment": ".main",
        "container": ".main"
      });
      event.preventDefault();
    });
  });

  // prepare page (sidebar visibility, toggle button)
  var preparePage = function() {
    if ($('.container').hasClass('no-sidebar')) {
      $('.sidebar').addClass('hide');
      $('.toggle').removeClass('disabled');
    } else {
      $('.sidebar').removeClass('hide');
      $('.toggle').removeClass('active').addClass('disabled');
    }

    // Set up editors
    if ($('#editor, .editor').length > 0 && !$('#editor').hasClass('ace_editor')) {
      $("#editor, .editor").each(function(i, editorElm) {
        if(!$(editorElm).hasClass("ace_editor")) {

          editor = ace.edit($(editorElm)[0]);
          editor.setTheme("ace/theme/tomorrow");
          editor.getSession().setMode("ace/mode/javascript");
          editor.setReadOnly($(editorElm).hasClass('readonly'));

          $('.editor-light').click(function(e) {
            editor.setTheme("ace/theme/tomorrow");
            e.preventDefault();
          });

          $('.editor-dark').click(function(e) {
            editor.setTheme("ace/theme/tomorrow_night");
            e.preventDefault();
          });

        }
      });
    }
  }

  // prepare page on initial page load and pjax reloads
  preparePage();
  $(document).on("pjax:end", function() {
    preparePage();
  });

  $('.toggle').click(function(){
    $this = $(this);

    if(!$this.hasClass('disabled')) {
      $this.toggleClass('active');

      if ($this.hasClass('active')) {
        $('.sidebar').removeClass('hide');
      } else {
        $('.sidebar').addClass('hide');
      }
    }
  });
