header
  .center
    .left
      .logo: a(href="/") Adefy
      h3 AJS Documentation
    .right
      .search
        input(type="text" placeholder="Search for")
        i.search
      .toggle: .icon
