header
  .center
    .left
      .logo: a(href="/") Adefy
      h3 AJS Documentation
    .right
      .search.hide
        input(type="text" placeholder="Search for")
        i.search
      .toggle: .icon

.search-center.hide
  .search-results
    div
      h3 Tutorials
      p 1 result
      
      ul
        li
          a Listing for adefy
          span dein Gaming-Leben adefy
        li
          a Listing for adefy
          span dein Gaming-Leben adefy

    div
      h3 API Documentation
      p 1 result

      ul
        li
          a Listing for adefy
          span dein Gaming-Leben adefy
    div
      h3 Library Documentation
      p 1 result

      ul
        li
          a Listing for adefy
          span dein Gaming-Leben adefy
    div
      h3 Examples
      p 1 result
    i.ss-delete