h1 Tutorials
h3 Learn how to develop native, organic ads and integrate your data in 3rd party dashboards with our libraries and APIs. Tutorials are split up into multiple parts, each full of live, editable demos and code listings.

hr

h3 Creating a simple ad
h5 Develop a simplistic 2D organic advertisement with basic animations

p After following this series, you'll have a basic mobile ad ready for deployment that can take on the look of its host publisher. After designing and building the animation sequences, and integratable color palette will be created, along with integration information for publishers.

.twoway
  div
    ol.listing
      li: a(href="#") Designing an engaging storyboard
      li: a(href="#") Building the animation
      li: a(href="#") Picking dynamic colours
      li: a(href="#") Develop
      li: a(href="#") Organic advertisement
      li: a(href="#") Live demo
  div
    img(src="/img/phone.svg" width="270")

hr

h3 What's New in Foundation 5
h5 Develop a simplistic 2D organic advertisement with basic animations

p In this stage, we'll get hands on with all the new features and enhancements in Foundation 5, tha latest and most efficient version of the framework yet!

.twoway
  div
    ol.listing
      li: a(href="#") Foundation 5 Overview
      li: a(href="#") Grid Updates and Visibility Classes
      li: a(href="#") Updating JavaScript
      li: a(href="#") New Interchange Features
      li: a(href="#") Off Canvas Navigation
      li: a(href="#") Sublime Text Snippets
  div
    img(src="/img/phone.svg" width="270")