h1 Tutorials
h3 Integrating the Android SDK

p This (short) tutorial will guide you through adding our AAR library to your application and utilizing it to make ad requests.

ul.listing
  li.no-border: a(href="/tutorials/integration/android") Android integration tutorial

hr

h3 Design guidelines and custom ad tutorials are in the pipeline, and will be available shortly!
