h1 Tutorials
h3 Integrating the Android SDK

p This (short) tutorial will guide you through adding our android library to your application and utilizing it to make ad requests.

ul.listing
  li.no-border: a(href="/tutorials/integration/android") Android integration tutorial

hr

h3 Building our tech demos
p Add some text here

ul.listing
  li.no-border: a(href="/tutorials/demos/watch") Watch demo tutorial
  li.no-border: a(href="/tutorials/demos/skittles") Skittles demo tutorial
  li.no-border: a(href="/tutorials/demos/car") Car demo tutorial
