.row
  .col6
    #editor.readonly
      include ../_json/ads/show.json

  .col6.push6
    p Status attribute represents the ad's current state: pending, rejected or approved; 0 = pending, 1 = rejected, 2 = approved.
