.row
  .col6
    #editor.readonly
      include ../_json/ads/show.json

  .col6.push6
    p Fetch an ad by ID. The status attribute represents the current state: pending, rejected or approved
    ul
      li 0 - Pending
      li 1 - Rejected
      li 2 - Approved
