.breadcrumbs
  a(href="/") Home 
  | &gt; 
  a(href="/demos") Tech Demos 

h1 Tech demos
h3 Great examples of what can be created on our platform

hr

//- ul.tabs
  li.active: a(href="#") Newest
  li: a(href="#") Note on Indentation
  li: a(href="#") Blueprint Tools

.demos
  div
    a(href="/demos/skittles")
      img.thumbnail(src="/demos/assets/skittles/thumb.jpg" width="269")
    span.title
      a(href="/demos/skittles") Angry Birds meet Skittles
      span.platforms
        img(src="/img/android.png" data-at2x="/img/android@2x.png")
        //- | /
        //- img(src="/img/apple.png" data-at2x="/img/apple@2x.png")
    p Physics, skittles, and some good 'ol suave marketing.

  div
    a(href="/demos/watch")
      img.thumbnail(src="/demos/assets/watch/thumb.jpg" width="269")
    span.title
      a(href="/demos/watch") Watch De-Construction
      span.platforms
        img(src="/img/android.png" data-at2x="/img/android@2x.png")
        //- | /
        //- img(src="/img/apple.png" data-at2x="/img/apple@2x.png")
    p A quality watch is great inside and out. Have a look at the internals of an elegant and precise accessory.

  div
    a(href="/demos/car")
      img.thumbnail(src="/demos/assets/car/thumb.jpg" width="269")
    span.title
      a(href="/demos/car") Concrete-Proof Car
      span.platforms
        img(src="/img/android.png" data-at2x="/img/android@2x.png")
        //- | /
        //- img(src="/img/apple.png" data-at2x="/img/apple@2x.png")
    p A car maker shows off the durability and safety of a new model.

  //- div
    img.thumbnail(src="/demos/assets/shapes/thumb.jpg" width="269")
    span.title
      a(href="/demos/shapes") Shapes!
      span.platforms
        img(src="/img/android.png" data-at2x="/img/android@2x.png")
        //- | /
        //- img(src="/img/apple.png" data-at2x="/img/apple@2x.png")
    p A simplistic texture-less shapes demo
