h1 Tech demos
h3 ADD SOME TEXT HERE

hr

h3 List

ul.tabs
  li.active: a(href="#") Newest
  li: a(href="#") Note on Indentation
  li: a(href="#") Blueprint Tools

.demos
  div
    img.thumbnail(src="/demos/assets/skittles/thumb.jpg" width="269")
    span.title
      a(href="/demos/skittles") Angry Birds meet Skittles
      span.platforms
        img(src="/img/android.png" data-at2x="/img/android@2x.png")
        //- | /
        //- img(src="/img/apple.png" data-at2x="/img/apple@2x.png")
    p ADD A DESCRIPTION

  div
    img.thumbnail(src="/demos/assets/watch/thumb.jpg" width="269")
    span.title
      a(href="/demos/watch") Watch De-Construction
      span.platforms
        img(src="/img/android.png" data-at2x="/img/android@2x.png")
        //- | /
        //- img(src="/img/apple.png" data-at2x="/img/apple@2x.png")
    p ADD A DESCRIPTION

  div
    img.thumbnail(src="/demos/assets/car/thumb.jpg" width="269")
    span.title
      a(href="/demos/car") Concrete-Proof Car
      span.platforms
        img(src="/img/android.png" data-at2x="/img/android@2x.png")
        //- | /
        //- img(src="/img/apple.png" data-at2x="/img/apple@2x.png")
    p ADD A DESCRIPTION
