.row
  .col6
    #editor.readonly
      include ../_json/campaigns/activate.json

  .col6.push6
    p Activate campaign; activation will fail for campaigns after their end date. Campaigns are automatically de-activated when the execution end date is reached (if one is set).
