.row
  .col6
    #editor.readonly
      //include ../_json/publishers/approve.json

  .col6.push6
    p Request admin approval for a publisher. Publishers can receive only test ads until they are approved.
