.row
  .col6
    #editor.readonly
      include ../_json/publishers/create.json

  .col6.push6
    p To charge a credit card, you create a new charge object. If your API key is in test mode, the supplied card won't actually be charged, though everything else will occur as if in live mode. (Stripe assumes that the charge would have completed successfully).

    p When a user clicks on a Tinypass button, an access ticket is presented to the end-user via a popup. The ticket contains all of the relevant information that was supplied when creating the button. As you can see below, the ticket contains the resource name, pricing, the access period, user information, and your company logo and messaging. You can also specify a short custom caption to appear.

    p When a user clicks on a Tinypass button, an access ticket is presented to the end-user via a popup. The ticket contains all of the relevant information that was supplied when creating the button. As you can see below, the ticket contains the resource name, pricing, the access period, user information, and your company logo and messaging. You can also specify a short custom caption to appear.