.row
  .col6
    #editor.readonly
      include ../_json/analytics/campaigns.json

  .col6.push6
    p Fetch campaign metrics over the described period of time. Metrics can be received as a series, a sum over time, or a flat total.
